/* -------------- */
/* index          */
/* -------------- */

// base
// // brekpoints
// // CSS variables
// // global
// // typography
// // utilities
// component
// // btn
// // tag
// // title
// // card
// background img
// header
// // hero section
// // navbar
// // //  navbar social links
// // // explore floating btn
// main
// // data section
// // features section
// // service section
// // gallary section
// // reveiw section
// // // swiper slider
// // faq section
// // book section
// footer

/* -------------- */
/* base           */
/* -------------- */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

// brekpoints
@mixin sm {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1921px) {
    @content;
  }
}

// CSS variables
:root {
  --clr-primary: 0, 0%, 20%;
  --clr-secondary: 0, 0%, 93%;
  --clr-accent: 0, 79%, 63%;
  --clr-white: 0, 0%, 100%;
  --clr-dark: 0, 0%, 28%;

  --fs-700: clamp(2rem, 4vw, 3.5rem);
  --fs-650: clamp(1.75rem, 4vw, 3.5rem);
  --fs-600: 1.5rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;

  --ff-sans: "Montserrat", sans-serif;
  --ff-serif: "Fraunces", serif;

  @include md {
    --fs-600: 1.75rem;
    --fs-300: 1rem;
  }
}

// global
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #ffffffca;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: hsl(var(--clr-primary), 0.85);
  line-height: 1.5;
}

::selection {
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}

h1,
h2 {
  font-family: var(--ff-serif);
  color: hsl(var(--clr-primary));
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

li {
  list-style: none;
}

// typography

.fs-700 {
  font-size: var(--fs-700);
}
.fs-650 {
  font-size: var(--fs-650);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}

.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}

// utilities
.container {
  max-width: 68rem;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 2rem);
}

.flow-space--s {
  --flow-space: 1rem;
}

.flow-space--lg {
  --flow-space: 5rem;
}

/* -------------- */
/* component      */
/* -------------- */

// btn
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
  border: 2px solid transparent;
  @include lg {
    padding: 1rem 2rem;
  }
}

.btn-s {
  padding: 0.5rem 1rem;
  font-size: var(--fs-300);
  font-weight: 400;
}

.btn:hover {
  transition: all 0.5s ease;
}

.btn-primary {
  background: hsl(var(--clr-primary));
  color: hsl(var(--clr-white));

  &:hover {
    background: transparent;
    border-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-dark));
  }
}

.btn-dark {
  background: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}

// tag
.tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: hsl(var(--clr-secondary), 0.8);
  border-radius: 10px;
}

.tag-accent {
  background: hsl(var(--clr-accent), 0.2);
  color: hsl(var(--clr-accent));
}

// title
.title {
  text-align: center;
  h2 {
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;
    font-size: var(--fs-600);
  }

  h2::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 60% 45% 0 45%;
    background-color: hsl(var(--clr-accent), 0.5);
    border-radius: 100px 0 100px 0;
  }

  p {
    margin-top: -2.5rem;
    margin-bottom: 3rem;
  }
}

// card
.card {
  padding: 2rem;
  box-shadow: 0 8px 32px 0 hsl(var(--clr-primary), 0.2);
  border-radius: 10px;
  background: hsl(var(--clr-white));
  h3 {
    font-weight: bold;
  }
}

/* -------------- */
/* background img */
/* -------------- */

.bg-img--1 {
  background: url("https://i.imgur.com/twVIvdo.png");
}

.bg-img--2 {
  background: url("https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  background-blend-mode: color;
  background-color: hsl(var(--clr-secondary), 0.3);
}

.parallax {
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100%;
  position: relative;
}

/* -------------- */
/* header         */
/* -------------- */

// hero section
.primary-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-logo {
    position: relative;
    flex-shrink: 0;
  }

  .nav-logo::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    background: hsl(var(--clr-accent), 0.25);
    padding: 0.5rem 1rem;
    border-radius: 100px 0 100px 0;
  }
  .container {
    margin-top: auto;
    padding-top: 4.5rem;
    @include md {
      padding-right: clamp(2rem, 20vw, 8rem);
    }
  }
  h1 span {
    display: block;
  }

  h1 small {
    color: hsl(var(--clr-dark));
  }
}

// navbar
.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: clamp(0rem, 3vw, 2rem);
  transition: all 0.5s ease;
  ul {
    display: flex;
  }
  li {
    margin: 0 0.25rem;
  }

  li a {
    padding: 0.5rem 1rem;
    &:hover {
      background: hsl(var(--clr-secondary), 0.8);
      border-radius: 10px;
    }
  }

  @include sm {
    padding: 0.5rem 1rem;
    justify-content: space-between;
    ul {
      position: fixed;
      top: 4rem;
      left: 3rem;
      right: 3rem;
      padding: 1.5rem;
      flex-direction: column;
      gap: 1rem;
      background: white;
      border-radius: 10px;
      box-shadow: 0 8px 32px 0 hsl(var(--clr-primary), 0.2);
      transition: all 0.5s ease;
    }
    ul[aria-expanded="true"] {
      transform: translateY(0%);
    }
    ul[aria-expanded="false"] {
      transform: translateY(-150%);
    }

    li {
      align-items: stretch;
    }

    a {
      display: block;
    }
  }

  @include xl {
    padding-left: 20%;
  }
}

.navbar-bg {
  padding: 0.5rem 1.5rem;
  background: hsl(var(--clr-white));
  box-shadow: 0 5px 15px hsl(var(--clr-dark), 0.2);

  @include sm {
    background: hsl(var(--clr-white), 0.8);
  }

  @include xl {
    padding-left: 20%;
  }
}

.nav-toggle {
  font-size: 0;
  background: none;
  border: none;
  @include sm {
    position: relative;
    z-index: 400;
    font-size: 1.5rem;
    color: hsl(var(--clr-primary));
    cursor: pointer;
    transition: all 0.5s ease;
  }
}

.nav-mobile-bg::after {
  @include sm {
    content: "";
    position: fixed;
    z-index: 10;
    inset: 0 0 0 0;
    background: hsl(var(--clr-primary), 0.6);
  }
}

//  navbar social links
.navbar .social {
  display: flex;
  justify-content: center;

  a {
    font-size: 1.5rem;
    opacity: 0.8;
    &:hover {
      background: transparent;
      opacity: 1;
    }
  }
  @include md {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 0px 10px hsl(var(--clr-dark), 0.6);

    a {
      padding: 0;
      color: hsl(var(--clr-white));
      opacity: 0.6;
      transition: all 0.3s ease;
      font-size: 2rem;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// explore floating btn
.explore {
  margin-top: auto;
  padding-bottom: 2rem;
  color: hsl(var(--clr-white));
  text-shadow: 1px 0 10px hsl(var(--clr-dark));
  animation: float 2s ease-in-out infinite;

  i {
    padding-right: 0.5rem;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* -------------- */
/* main           */
/* -------------- */
section {
  padding-block: 5rem;
}

// data section
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  & > * {
    width: 50%;
  }
  span {
    display: block;
    white-space: nowrap;
  }
  i {
    color: hsl(var(--clr-accent));
  }

  h4 {
    margin-bottom: 1rem;
  }

  @include md {
    flex-direction: row;
    gap: 0;
    span {
      display: inline-block;
    }
  }
}

// features section
.features {
  background: hsl(var(--clr-secondary));
  .card-wrap {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 100%;
    text-align: center;
    @include md {
      width: calc(50% - 1rem);
    }

    @include lg {
      width: calc(25% - 1.5rem);
    }
  }

  .fa-solid {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

// service section
.service {
  padding-bottom: 10rem;
  background: hsl(var(--clr-secondary), 0.4);
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    @include md {
      padding-inline: 6rem;
      align-items: center;
    }

    @include lg {
      align-items: stretch;
    }
  }
  .title {
    align-self: stretch;
  }
  .tab-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: hsl(var(--clr-white));
    border-radius: 10px;
    @include md {
      flex-direction: row;
      background: hsl(var(--clr-secondary));
      border-radius: 10px 10px 0 0;
    }
  }

  .tab {
    display: block;
    padding: 1rem 2rem;
    text-align: center;
    transition: all 0.3s ease;
    @include md {
      padding-bottom: 0.5rem;
    }
  }

  .tab:hover {
    color: hsl(var(--clr-accent));
    @include md {
      border-color: hsl(var(--clr-accent));
    }
  }

  .ui-tabs {
    border-bottom: 2px solid transparent;
  }
  .ui-tabs-active {
    color: hsl(var(--clr-accent));
    @include md {
      margin-top: -0.25rem;
      background: hsl(var(--clr-white));
      border-bottom: 2px solid hsl(var(--clr-accent));
      border-radius: 10px 10px 0 0;
    }
  }

  // service wrap
  &-wrap {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: hsl(var(--clr-white));
    border-radius: 10px;

    @include md {
      margin-top: -1rem;
      flex-direction: row;
      justify-content: space-between;

      & > * {
        width: 50%;
      }
    }
  }
  // service text
  &-text {
    padding: 2rem;
    span {
      display: block;
    }
    h4 {
      position: relative;
      z-index: 2;
      font-family: var(--ff-serif);
      padding-right: 2rem;
    }
    ul {
      margin-top: 1rem;
    }
    li {
      padding: 0.5rem 0;
      list-style: disc inside;
    }

    @include md {
      white-space: nowrap;
      span {
        margin-top: 4rem;
      }
      h4 {
        margin-left: -1rem;
      }
      span,
      ul {
        margin-left: clamp(1rem, 3vw, 3rem);
      }
    }

    @include lg {
      h4 {
        margin-left: -5rem;
      }
    }
  }
  // service img
  &-img img {
    border-radius: 10px 10px 0 0;

    @include md {
      position: relative;
      top: 2rem;
      right: -0.5rem;
      border-radius: 10px;
    }
  }

  @include lg {
    top: 5rem;
    right: -3rem;
  }
}

.service-wrap + .service-wrap {
  margin-top: 5rem;
  @include md {
    margin-top: 10rem;
  }
}

// service wrap: the 2nd area style
.service-wrap:nth-child(even) {
  @include md {
    flex-direction: row-reverse;
    .service-text {
      span {
        margin-top: 0rem;
      }
      h4 {
        margin-left: -2rem;
      }
      span,
      ul {
        margin-left: 0.5rem;
      }
    }

    img {
      left: -0.5rem;
    }
  }

  @include lg {
    img {
      left: -3rem;
    }
  }
}

// gallary section
.gallary {
  position: relative;
  background: hsl(var(--clr-secondary));
  text-align: center;
  //   gallary grid
  .container-grid {
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-auto-flow: dense;
    .big {
      grid-column: span 2;
      grid-row: span 2;
    }
    @include md {
      grid-gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    div {
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
    }
    img {
      border-radius: 10px;
    }

    img:hover {
      transform: scale(1.2) rotate(5deg);
      transition: all 1s ease;
    }
    iframe {
      border-radius: 10px;
    }
  }

  //   load more
  div:nth-child(1n + 6) {
    display: none;
  }

  .btn-load--less {
    display: none;
  }

  #btnLoad {
    display: none;
  }
  #btnLoad:checked ~ .container-grid div:nth-child(1n + 6) {
    display: block;
    img {
      animation: fadeIn 0.3s ease-in;
    }
  }

  #btnLoad:checked ~ .btn-load .btn-load--less {
    display: inline-block;
  }

  #btnLoad:checked ~ .btn-load .btn-load--more {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gallary-modal {
  max-width: 90%;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  @include md {
    max-width: 55%;
  }

  @include lg {
    max-width: 40%;
  }
  &::after {
    content: "X";
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    aspect-ratio: 1;
    line-height: 2rem;
    border-top-right-radius: 10px;
    background-color: #fff;
    font-weight: bold;
  }
  img:hover {
    transform: scale(1) rotate(0deg) !important;
  }
}

.gallary-bg::after {
  content: "";
  position: fixed;
  z-index: 10;
  inset: 0 0 0 0;
  background: hsl(var(--clr-primary), 0.6);
}

// reveiw section
.review {
  background: hsl(var(--clr-dark), 0.1);

  // swiper slider
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    position: static;
    margin-top: 24px;
  }

  .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 8px;
    background: hsl(var(--clr-accent), 0.8);
  }

  // card details
  .card {
    box-shadow: unset;
  }

  .card-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    span {
      @include md {
        margin-right: 0.5rem;
      }
    }

    img {
      width: 4rem;
      border-radius: 50%;
    }
  }

  .fa-solid {
    margin-left: 0.25rem;
    color: hsl(var(--clr-accent));
  }
}

// faq section
.faq {
  background: hsl(var(--clr-secondary));

  .faq-list {
    padding: 16px;
    margin-bottom: 16px;
    background: hsl(var(--clr-dark));
    border-radius: 10px;
    color: hsl(var(--clr-white));
    cursor: pointer;
    &:hover {
      background: hsl(var(--clr-primary));
    }
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p {
      display: none;
      padding: 16px 0 8px;
      line-height: 2;
    }
    h3 {
      transition: all 0.5s;
    }

    @include md {
      margin-inline: auto;
      max-width: 80%;
    }
  }

  .faq-list-open {
    font-weight: bold;
  }

  .faq-icon-clockwise {
    animation: rotate 0.3s ease-in reverse;
  }

  .faq-icon-counterclockwise {
    animation: rotate 0.5s ease;
  }

  .fa-minus {
    display: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

// book section
.book {
  form {
    max-width: 30rem;
    padding: 2.5rem 2rem;
    margin-inline: auto;
    background: hsl(var(--clr-white), 0.95);
    box-shadow: 0 8px 32px 0 hsl(var(--clr-primary), 0.2);
    border-radius: 10px;
    * {
      outline: none;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    border: none;
    background: hsl(var(--clr-secondary));
    outline: none;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 1rem;
    aspect-ratio: 1;
    accent-color: hsl(var(--clr-accent));
    cursor: pointer;
  }

  input[type="checkbox"] + label {
    padding-left: 0.5rem;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: hsl(var(--clr-accent));
  }

  .manicure-subgroup,
  .eyelashes-subgroup,
  .eyebrows-subgroup,
  .skincare-subgroup {
    display: none;
    padding: 0.75rem 1rem;
    background: hsl(var(--clr-secondary));
    border-radius: 10px;
    label {
      display: block;
      padding: 0.5rem;
      cursor: pointer;
    }
    input {
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
  #f-manicure:checked ~ .manicure-subgroup {
    display: block;
  }
  #f-eyelashes:checked ~ .eyelashes-subgroup {
    display: block;
  }
  #f-eyebrows:checked ~ .eyebrows-subgroup {
    display: block;
  }
  #f-skincare:checked ~ .skincare-subgroup {
    display: block;
  }

  .btn {
    display: block;
    margin-inline: auto;
  }
}

/* -------------- */
/* footer         */
/* -------------- */
footer p {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 11px;
}

// Simplybook Widget
.sb-widget-iframe {
  border-radius: 10px;
}
